body {
  background-color: #ffffff;
  font-family: "ABeeZee", sans-serif;
}

h1 {
  color: #000000;
  padding-top: 10%;
  padding-left: 10%;
  font-size: 72px;
}

h2 {
    color: #4d4d4d;
    padding-top: 1%;
    padding-left: 15%;
    font-size: 52px;
}

h3 {
    color: #8f8f8f;
    text-align: right;
    bottom: 0%;
    right: 0%;
    position: fixed;
    padding-right: 30px;
    padding-bottom: 20px;
    font-size: 20px;
}



button {
  border-radius: 8px;
  background: #000000;
  color:#e8e8e8;
  display: inline;
  outline: 0;
  border: 0;
  height: 100%;
  cursor: pointer;
  font-weight: 700;
  line-height: 1;
  padding: 15px;
  transition: transform 200ms, background 200ms;
}

button:hover{
  transform: translateY(-8px);
}


.bottombuttonbiv {
  vertical-align: middle;
  text-align: center;
  font-size: large;
  width: 12%;
  height: 12%;
  min-width: 100px;
  bottom: calc(0% + 100px);
  position: fixed;
}
